body{
    background-color: #2A2A2A;
    font-size: 19px;
    font-family: 'Helvetica';
    margin-left: auto;
    margin-right: auto;
    color: #DBDBDB;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.95), rgba(1, 1, 1, 0.95));
}

div{
    align-content: center;
    display: block;
}

div.first{
    float: left;
    display: inline;
    align-content: right;
}

div.second{
    float: right;
    display: inline;
    align-content: left;
}

div.container{
    margin-top: 22px;
    display: block;
}

span.first{
    float: left;
    margin: 5px;
}

span.second{
    float: right;
    margin-right: 15px;
}

small{
    font-size: 13px;
}

label{
    margin: 5px;
    padding: 5px;
    line-height: 100%;
    opacity: 0.85;
}

label:hover{
    color: #EEEEEE;
    opacity: 1.0;
    transform: scale(1.25);
}

input{
    background-color: #444444;
    text-align: center;
    margin: 3px;
    margin-left: 10px;
    width: 50px;
    border-radius: 7px;
    border: groove;
    font-weight: bold;
    opacity: 0.5;
}

input:focus{
    background-color: #AAAAAA;
    outline: none;
}

input:hover, input:focus, input:active{
    transform: scale(1.125);
    opacity: 1.0;
}

input.tenth{
    background-color: #EE6699;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.69), rgba(238, 102, 153, 1.0));
}

input.eleventh{
    background-color: #339933;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.69), rgba(51, 153, 51, 1.0));
}

input.practical{
    background-color: #007CC7;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.69), rgba(0, 124, 199, 1.0));
}

input.unittest{
    background-color: #E27D60;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.69), rgba(226, 125, 96, 1.0));
}

input.midterm{
    background-color: #557A95;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.69), rgba(85, 122, 149, 1.0));
}

input.preboard{
    background-color: #8860D0;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.69), rgba(136, 96, 208, 1.0));
}

input:focus + label,
input:active + label{
    transform: scale(1.125);
    opacity: 1.0;
}

fieldset{
    margin: 10px;
    width: 700px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    height: 175px;
    box-shadow: 4px 4px 7px 2px rgba(255, 255, 255, 0.3);
}

fieldset:hover{
    transform: scale(1.025);
    box-shadow: 5px 5px 7px 3px rgba(255, 255, 255, 0.3);
}

fieldset.one{
    border-color: #EE6699;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.275),rgba(238, 102, 153, 0.5));
    align-content: center;
}

fieldset.two{
    border-color: #339933;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.275), rgba(51, 153, 51, 0.5));
}

fieldset.three{
    border-color: #007CC7;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.275), rgba(0, 124, 199, 0.5));
}

fieldset.four{
    border-color: #E27D60;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.275), rgba(226, 125, 96, 0.5));
}

fieldset.five{
    border-color: #557A95;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.275), rgba(85, 122, 149, 0.5));
}

fieldset.six{
    border-color: #8860D0;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.275), rgba(136, 96, 208, 0.5));
}

legend{
    font-size: 21px;
    margin-left: 100px;
    font-weight: lighter;
    opacity: 1.0;
}

legend.one{
    color: #EE6699;
}

legend.two{
    color: #339933;
}

legend.three{
    color: #007CC7;
}

legend.four{
    color: #E27D60;
}

legend.five{
    color: #557A95;
}

legend.six{
    color: #8860D0;
}

/*button{
    font-size: 25px;
    color: #D8C3A5;
    background-color: #116466;
    border-color: #45A29E;
    border-radius: 8px;
    height: 50px;
    text-align: center;
    margin:auto;
    display:block;
}
*/
h2{
    font-size: 40px;
    text-align: center;
    margin:auto;
    display:block;
    width: 1200px;
    color: #A3A3A3;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
}

h2:hover{
    transform: scale(1.02);
}

button:active, button:hover{
    background-color: #116471;
    transform: scale(1.1);
}
